@model List<CatDatingSite.Models.CatProfile>
@{
	ViewBag.Title = "Home Page";
}


<!-- kad v'elamies izsaukt c# kodu, lietojam at simbolu-->

@foreach (var cat in Model)
{
<div class="row">
	<div class="col-md-12">
		<h2>Cat name: @cat.CatName</h2>
		<p> Cat age is @cat.CatAge</p>
		<img src="@cat.CatImage" width="200" />
		<p>
			Mjauuu mur mur , feed me no question just feed me !!!!.
		</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
</div>
		}



	