@{
	ViewBag.Title = "Home Page";
}


<!-- kad vēlamies izsaukt c# kodu, lietojam at simbolu-->


<div class="row">
	<div class="col-md-12">
		

		
		<h2>
			Kaķu dating site!!
		</h2>
		
	</div>
</div>
		



	